* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
  }
  html,body{
  width: 100%;
  overflow-x: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    border-bottom: 1px solid #444;
  }
  .logo{
    background-image:url(/daniele.png);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
      mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  }
  .logo img
  {
    height: 50px;
    width: auto;
  }
  
  header h1 {
    font-size: 24px;
    color: #0f0;
  }
  #menu-toggle {
    display: none;
  }
  
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #0f0;
  }
  
  .hero {
    height: 100vh;
    text-align: center;
    padding: 100px 20px;
    background-image:url(../daniele.png); /* puoi cambiarla */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta {
    padding: 12px 25px;
    background-color: #0f0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .cta:hover {
    background-color: #cfc;
  }
  body{
    background-color: #0b0b0b;

        margin: 0;
        padding: 0;
        overflow-x: hidden;
    
  }
  
 footer {
  background-color: #111;
  color: #aaa;
  padding: 30px 20px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #333;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: #0f0;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-info p {
  margin: 5px 0;
}
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: 1fr;
      padding: 20px 10px;
    }
  
    .card {
      width: 100%;
    }
  
  .hamburger {
    display: block;
  }
  nav ul {
    flex-direction: column;
    background-color: #111;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    padding: 10px 0;
    z-index: 999;
  }

  #menu-toggle:checked ~ ul {
    display: flex;
  }

  nav a {
    padding: 10px;
    display: block;
    text-align: center;
  }

}
  
  